body {
    font: 14px Georgia, "Bitstream Charter", serif;
}

#title {
    padding: 10% 5% 5% 5%;
    text-align: center;
}
.logo {
    padding: 10%;
}
img {
    margin: auto;
}
th, td {
    padding: 1%;
    width: 30%;
}

.top-spacing {
  padding-top: 35px;
}

.spacing {
  padding: 25px;
}

.cropped {
width: 150px;
height: 150px;
overflow: hidden;
}

.cropped img {
margin: -150px 0px 0px -150px;
}
